<html lang="en">
<%- include('layouts/header',{resources,assets}) %>
<body ng-app="BlankApp">
<md-nav-bar md-selected-nav-item="currentNavItem">
    <!--<md-nav-item name="page1" md-nav-href="/#!/">-->
    <!--Logo-->
    <!--</md-nav-item>-->
    <md-nav-item name="page1" md-nav-href="/#!/global" ui-sref="home">
        Home
    </md-nav-item>

    <%
    if(!isAuthenticated){
    %>
        <md-nav-item md-nav-href="/#!/login" ui-sref="login">
            Login
        </md-nav-item>
        <md-nav-item md-nav-href="/#!/register" ui-sref="register">
            Register
        </md-nav-item>
    <%
    }
    %>

    <%
    if(isAuthenticated){
    %>
        <md-nav-item md-nav-sref="/#!/chat" name="chat" ui-sref="chat-room">
            Chat Room
        </md-nav-item>

        <md-nav-item md-nav-sref="#" name="page2">
            <%= user ? user.username : '' %>
        </md-nav-item>
        <md-nav-item md-nav-href="/user/logout">
            Logout
        </md-nav-item>
    <%
    }
    %>
</md-nav-bar>

<ui-view name="content"></ui-view>
</body>
<%- include('layouts/footer',{resources,assets}) %>
</html>